
/*Style Header*/
.carousel-inner {
    max-height: 600px;
    height: auto;
}
.carousel-inner img{
    object-fit: cover;
}

/*Style Destacados*/
.card-body {
    min-height: 88px;
}

.card-group img{
    height: 130px;
    object-fit: cover;
}

.container-fluid{
    padding-right: 0;
    padding-left: 0;

}


.alert-info{
    display: none;
}

@media only screen and (min-width: 1400px) {  
    .carousel-inner {
        max-height: 900px;
    }
    
   
}

@media only screen and (max-width: 768px) {  
    .navbar{
        background-color: #0dcaf0;
        
    }
    
    .navbar-dark{
        --bs-navbar-toggler-border-color: rgba(255, 255, 255, 1);
    }
   
}